<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add connectionString="Server=SFT-WASIMA-PC;Database=FinalLM2;Integrated Security=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultConnection" value="Data Source=SFT-WASIMA-PC;Initial Catalog=FinalLM2;Integrated Security=True;Encrypt=True;Trust Server Certificate=True" />
  </appSettings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Release\net6.0\Leave Management.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>