@model IEnumerable<Leave_Management.Data.UserRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<h1 class="text-center display-6">Roles</h1>


<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>

                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"> <i class="fas fa-delete"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p class="d-flex flex-column justify-content-around p-2 align-items-center">
    <a class="btn btn-primary align-items-center text-center w-25 mb-3" asp-action="Create">Create New</a>
    <a class="btn btn-outline-primary align-items-center text-center w-25" asp-controller="LeaveAllocations" asp-action="EmployeeRoles">Assign Roles</a>
</p>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#mytable').dataTable();
        });
    </script>
}
