@model AdminLeaveRequestVm
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>


<div class="container-fluid">
        <h1 class="text-center mt-4">Leave Management System Dashboard</h1>

    <div class="row mt-4 justify-content-around">
            <div class="col-md-2">
                <div class="card bg-info text-white">
                    <div class="card-body">
                        <h5 class="card-title">Total Requests</h5><br />
                        <h2 class="card-number">0</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                    <h5 class="card-title">Pending Requests</h5><br />
                        <h2 class="card-number">0</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card bg-success text-white">
                    <div class="card-body">
                    <h5 class="card-title">Approved Requests</h5><br />
                        <h2 class="card-number">0</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card bg-danger text-white">
                    <div class="card-body">
                    <h5 class="card-title">Rejected Requests</h5><br />
                        <h2 class="card-number">0</h2>
                    </div>
                </div>
            </div>
        <div class="col-md-2">
            <div class="card bg-danger text-white">
                <div class="card-body">
                    <h5 class="card-title">Rejected Requests</h5><br />
                    <h2 class="card-number">0</h2>
                </div>
            </div>
        </div>
        </div>
    </div>








  

    <h1 class="text-center">Holiday List Dashboard</h1>

    
    <table>
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Festival/Holiday</th>
                <th>Date</th>
                <th>Day</th>
            </tr>
        </thead>
        <tbody>
            <!-- Insert holiday data here -->
            <tr>
                <td>1</td>
                <td>New Year</td>
                <td>01st January</td>
                <td>Monday</td>
            </tr>
            <!-- Add other holidays -->
        </tbody>
    </table>

    


  
