@page
@using Microsoft.AspNetCore.Identity
@using Leave_Management.Data
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    if (SignInManager.IsSignedIn(User))
    {
        Response.Redirect("/"); // Redirect to homepage or dashboard
    }
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
