@page
@using Microsoft.AspNetCore.Identity
@using Leave_Management.Data
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    if (SignInManager.IsSignedIn(User))
    {
        Response.Redirect("/"); // Redirect to homepage or dashboard
    }
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

